@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


section {
  @apply overflow-x-hidden;
  @appply relative;
}
img {
  max-width: 100%;
}

p {
  font-family: "ivyora-text",sans-serif;
}

h2, h3 {
  font-family: 'Cormorant';
  font-weight: 500;
}

.subhead::first-letter {
  padding: .4rem 0 0 0;
  margin: 0 .5rem 0 0;
  font-size: 120px;
  float: left;
}

.detail-floral {
  height: 450px;
  width: 450px;
}

#about_pic_1 {
  box-shadow: 0 -16px #D8ECDB;
}

#move .content .bg-right {
  background: url("../img/detail-floral.svg") no-repeat 100px 50px;
  background-size: auto 70%;
}

#move_pic {
  box-shadow: 0 16px #D8ECDB;
}

#today_pic {
  box-shadow: 16px 0 #D8ECDB;
}

.detail-vertical {
  width: auto;
  height: 80%;
}

@layer components {
  .content {
    @apply flex mx-auto;
  }
  section {
    @apply mb-24 px-8;
  }

  p {
    @apply font-light pt-6;
  }

  h2 {
    @apply text-3xl font-bold;
  }
}

#hero .content .bg-left {
  background: url("../img/detail-house.svg") no-repeat 100px 50px;
  background-size: auto 70%;
}

#hero .content .bg-right {
  padding-bottom: 100px;
  background: url("../img/detail-clover-pattern.svg") no-repeat center bottom;
  background-size: cover;
  @apply bg-mint;
}

@media (max-width: 640px) {
  .content {
    flex-direction: column;
  }
}